.block-timeline .event-name {
    font-weight: 500;
}

.block-myoverview .course-summaryitem .row div:first-child {
    align-items: flex-start !important;
}

#page-my-index:not(.editing) .block_badges.invisibleblock  {
    display: none;
}