/* move the help and back-to-top button left when blocks are not shown so they don't overlap with the chatsupport button */
.jsenabled #page.drawers:not(.show-drawer-right) .btn-footer-popover,
.jsenabled #page.drawers:not(.show-drawer-right) #back-to-top {
  margin-right: 50px;
}
#page-site-index #page-footer .btn-footer-popover,
#page-login-index #page-footer .btn-footer-popover,
#page-theme-boost_union_rwth-login #page-footer .btn-footer-popover {
  margin-right: 40px;
}

#page-site-index .chat-support-container,
#page-login-index .chat-support-container,
#page-theme-boost_union_rwth-login .chat-support-container {
  right: 0px !important;
}
