#cookie-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: 1rem;
}

#cookie-container > * {
    display: inline-block;
}