/*Feedback*/
/*change default alert box colors*/
.alert-success {
    background-color: #8DC060; 
    border-color: #8DC060; 
    color: #000;
}
.alert-danger {
    background-color: #cc071e;
    border-color: #cc071e;
    color: #fff;
}
.alert-warning {
    background-color: #fff059; 
    border-color: #fff059; 
    color: #000;
}
.alert-info {
    background-color: #C7DDF2;
    border-color: #C7DDF2;
    color: #000;
}
