#footnote {
    /* Set Footer background color as #333 compliant with RWTH color codes */
    background-color: #333;
    font-family: Arial,Helvetica,sans-serif;
    margin-top: 1%;
}
/* On x-small screens. */
@include media-breakpoint-up(xs) {
    /* If there is a loginbackground image configured. */
    body.pagelayout-login.loginbackgroundimage #footnote {
        background-color: #333;
        font-family: Arial,Helvetica,sans-serif;
        border-radius: 0rem;
        margin-top: 1%;
    }
}
@include media-breakpoint-up(md) {
    /* If there is a loginbackground image configured. */
    body.pagelayout-login.loginbackgroundimage #footnote {
        background-color: #333;
        font-family: Arial,Helvetica,sans-serif;
        border-radius: 0rem;
        margin-top: 1%;
    }
}
/* On larger screens. */
@include media-breakpoint-up(md) {
    /* If there is a background image or a loginbackground image configured. */
    body:not(.backgroundimage):not(.loginbackgroundimage) #footnote {
    /* Set Footer background color as #333 compliant with RWTH color codes */
        background-color: #333;
        font-family: Arial,Helvetica,sans-serif;
    }
}

#footnote .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#footnote h5 {
    font-weight: 300;
}
#footnote .list-group-item {
    background-color: #333;
    border: 1px;
}
#footnote a {
    color: #ccc;
}
#footnote a:hover {
    text-decoration: underline;
}
#footnote a.link-list {
    border-top: 1px dotted #ededed;
    border-bottom: 1px dotted #ededed;
}
#footnote a.link-list+a.link-list {
    border-top: none;
}
#footnote p {
    color: #ccc;
}
#footnote .card-title {
    color: #ccc;
}
#footnote .container-fluid .row {
    justify-content: center;
}

/* Remove margin around footnote. */
@include media-breakpoint-up(md) {
    body:not(.backgroundimage):not(.loginbackgroundimage) #footnote {
        margin-left: 0;
        margin-right: 0;
    }
    #page.drawers #footnote {
        margin-left: -3rem;
        margin-right: -3rem;
    }
}
@include media-breakpoint-up(lg) {
    #page.drawers.show-drawer-right #footnote {
        margin-right: -1rem;
    }
}
@include media-breakpoint-down(md) {
    #footnote {
        margin: 0;
    }
}
@include media-breakpoint-up(sm) {
    body.pagelayout-login.loginbackgroundimage #footnote {
        margin: 0;
    }
}
