#page-site-index.pagelayout-frontpage {

    /* Rules adjusting style in reused templates */
    div[role=main] {
        display: none;
    }

    #page {
        overflow-y: auto;
    }

    #theme_boost-drawers-primary {
        display: none !important;
    }

    .navbar-expand .navbar-toggler {
        display: none !important;
    }

    #usernavigation div.divider {
        display: none;
    }

    .site-container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    #page #topofscroll {
        padding-top: 24px;
        margin-top: 24px;
        flex-grow: 1;
    }

    .login-v2-container {
        /* Rules applying to our template */
        margin: auto;
        position: relative;
        padding: 0px 0px;
        padding-bottom: 2rem;

        @media(min-width: 768px) {
            padding-left: 32px;
            padding-right: 32px;
        }

        max-width: 70em;
        width: 100%;
        box-sizing: border-box;


        .card-row {
            margin: -8px -23px;
        }

        .row.banner {
            /* Hide Banner by default, reveal for large viewports */
            display: none;

            overflow: hidden;
            border-radius: 8px;

            /* copyright placement */
            position: relative;
            text-align: center;
            color: white;

            .banner-image {
                /* Image crop + placement */
                /* JUB_0129_digital_rgb 1 */
                content: url([[pix:theme|JUB_0127_digital_rgb]]);
                position: relative;
                height: 350px;
                width: 100%;
                object-fit: cover;
                object-position: 50% 40%;
            }
    
            .copyright-notice-wrapper {
                /* copyright placement */
                position: absolute;
                bottom: 8px;
                right: 16px;

                p {
                    margin-bottom: 0rem;
                }
            }
        }

        @media (min-width: 768px) {

            /* Show banner for "desktop" - sized viewports */
            .row.banner {
                display: flex;
            }
        }

        .themeboostunioninfobanner {
            margin-left: -15px;
            margin-right: -15px;
        }

        /* Hide close button forinfobanner on front page */
        button#themeboostunioninfobanner1close,
        button#themeboostunioninfobanner2close,
        button#themeboostunioninfobanner3close,
        button#themeboostunioninfobanner4close,
        button#themeboostunioninfobanner5close {
            display:none;
        }

        .login-card-container {
            padding: 8px;
            box-sizing: border-box;
        }

        .info-title {
            margin-top: 0;
        }

        .info-link {
            display: block;
        }

        .login-card {
            padding: 20px;
            background-color: #ECEDED;
            border-radius: 8px;
            height: 100%;
        }

        .login-card .login-option:not(:last-child) {
            margin-bottom: 32px;
        }

        .login-card .btn {
            font-size: 125%;
        }

        .info {
            display: block;
            margin: 8px 0;
        }

        .row .maintenance-card {
            margin-top: -8px;
        }

        .maintenance-card {
            padding: 20px;
            background-color: #FFF59B;
            border-radius: 8px;
            width: 100%;
        }

        .row:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}
