
.navbar {

    /* Remove spacing above and below logo. */
    &.fixed-top .navbar-brand .logo {
        /* Core CSS defines navbar fixed-top height as 61px */
        max-height: 61px;
    }

    &.navbar-dark {

        /* Change color of edit mode switch. */
        .custom-control-input:checked ~ .custom-control-label {
            &::before {
                background-color: #8EBAE5 !important;
                border-color: #8f959e !important;
            }
            &::after {
                background-color: $white !important;
            }
        }

        /* Change highlighting color under active tab. */
        .moremenu .nav-link.active {
            &,
            &:hover,
            &:focus {
                border-bottom-color:  #8EBAE5;
            }
        }

        /* Match background color to that of the footer. */
        &.bg-dark {
            background-color: #333 !important;
        }

        /*
         * Make language icon same color as navbar text.
         * Also fix spacing around the icon since it is 20x16 instead of 16x16 px.
         */
        #lang-menu-toggle .icon {
            color: #fff !important;
            width: 20px;
        }
    }
}
