.boost_union_rwth_news_and_help_page_div {
    font-family: "Arial"; 
    font-size: 1.1em;
    width: 80%;
    margin: 0 auto;
    background-color: #fff; 
}
.boost_union_rwth_news_and_help_intro {
    margin-bottom: 2em;
    font-size: 1.0em;
}

.boost_union_rwth_news_and_help_intro h2 {
    margin-top: 0;
    font-size: 1.2em; 
    font-weight: bold;
}

.boost_union_rwth_news_and_help_block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.boost_union_rwth_news_and_help_block img {
    width: 80px;
    height: 80px;
    margin-right: 30px;
}

.boost_union_rwth_news_and_help_block h2 {
    margin-top: 0;
    font-size: 1.4em;
    font-weight: bold;
}

.boost_union_rwth_news_and_help_block p {
    margin: 10px 0;
    font-size: 1em;
    line-height: 1.5;
}

.boost_union_rwth_news_and_help_block a {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
}

.boost_union_rwth_news_and_help_block a:hover {
    text-decoration: underline;
}