#page-footer .footer-content-debugging {
    display: none;
}

#page-footer .usertour {
    display: none;
}

@media (max-width: 768px) {
    #page .drawer-left-toggle {
        top: calc(99vh - (80px * 2.5)) !important;
    }
    
    #page .drawer-right-toggle {
        top: calc(99vh - (80px * 2.5)) !important;
    }
}