#page-site-index {
	#page {
		overflow-y: scroll;
		scrollbar-width: thin;
    		scrollbar-color: #6a737b #f8f9fa;
	}
	#page::-webkit-scrollbar {
		width: 12px;
	}
	#page::-webkit-scrollbar-track {
		background: #f8f9fa;
	}
	#page::-webkit-scrollbar-thumb {
		background-color: #6a737b;
		border-radius: 20px;
		border: 3px solid #f8f9fa;
	}
	#page::-webkit-scrollbar-thumb:hover {
		background-color: #495057;
	}
}

#page-theme-boost_union_rwth-login {
	#page-wrapper {
		overflow-y: scroll;
		scrollbar-width: thin;
    		scrollbar-color: #6a737b #f8f9fa;
	}
	#page-wrapper::-webkit-scrollbar {
		width: 12px;
	}
	#page-wrapper::-webkit-scrollbar-track {
		background: #f8f9fa;
	}
	#page-wrapper::-webkit-scrollbar-thumb {
		background-color: #6a737b;
		border-radius: 20px;
		border: 3px solid #f8f9fa;
	}
	#page-wrapper::-webkit-scrollbar-thumb:hover {
		background-color: #495057;
	}
}

