<div class="boost_union_rwth_news_and_help_page_div">
    <div class="boost_union_rwth_news_and_help_intro">
        <h1 class="h1">{{#str}} smart-menu-demo-courses, theme_boost_union_rwth {{/str}}</h1>
        <p>
            {{#str}} smart-menu-demo-courses-block, theme_boost_union_rwth {{/str}}
        </p>
    </div>
    <div class="boost_union_rwth_news_and_help_block">
        <img src="pix/funktionenübersicht_blau.png" alt="{{#str}} smart-menu-functions-overview-icon, theme_boost_union_rwth {{/str}}" />
        <div>
            <h2 class="h2" class="h2">{{#str}} smart-menu-functions-overview, theme_boost_union_rwth {{/str}}</h2>
            <p>{{#str}} smart-menu-functions-overview-block, theme_boost_union_rwth {{/str}}</p>
            <a href="{{#str}} smart-menu-functions-overview-block-link, theme_boost_union_rwth {{/str}}">{{#str}} smart-menu-functions-overview-block-link-name, theme_boost_union_rwth {{/str}}</a>
        </div>
    </div>

    <div class="boost_union_rwth_news_and_help_block">
        <img src="pix/kursgestaltung_blau.png" alt="{{#str}} smart-menu-course-design-icon, theme_boost_union_rwth {{/str}}" />
        <div>
            <h2 class="h2">{{#str}} smart-menu-course-design, theme_boost_union_rwth {{/str}}</h2>
            <p>{{#str}} smart-menu-course-design-block, theme_boost_union_rwth {{/str}}</p>
            <a href="{{#str}} smart-menu-course-design-block-link, theme_boost_union_rwth {{/str}}">{{#str}} smart-menu-course-design-block-link-name, theme_boost_union_rwth {{/str}}</a>
        </div>
    </div>

    <div class="boost_union_rwth_news_and_help_block">
        <img src="pix/selbsttests_blau.png" alt="{{#str}} smart-menu-interactive-mathematical-icon, theme_boost_union_rwth {{/str}}" />
        <div>
            <h2 class="h2">{{#str}} smart-menu-interactive-mathematical, theme_boost_union_rwth {{/str}}</h2>
            <p>{{#str}} smart-menu-interactive-mathematical-block-1, theme_boost_union_rwth {{/str}}<a href="{{#str}} smart-menu-interactive-mathematical-block-link-1, theme_boost_union_rwth {{/str}}">{{#str}} smart-menu-interactive-mathematical-block-link-name-1, theme_boost_union_rwth {{/str}}</a>{{#str}} smart-menu-interactive-mathematical-block-2, theme_boost_union_rwth {{/str}}<a href="{{#str}} smart-menu-interactive-mathematical-block-link-2, theme_boost_union_rwth {{/str}}">{{#str}} smart-menu-interactive-mathematical-block-link-name-2, theme_boost_union_rwth {{/str}}.</a></p>
        </div>
    </div>
</div>
