<div class="boost_union_rwth_news_and_help_page_div">
    <div class="boost_union_rwth_news_and_help_intro">
        <h1 class="h1">{{#str}} smart-menu-studying-and-teaching, theme_boost_union_rwth {{/str}}</h1>
        <p>{{#str}} smart-menu-studying-and-teaching-block, theme_boost_union_rwth {{/str}}</p>
    </div>
    <div class="boost_union_rwth_news_and_help_block">
        <img src="pix/barrierefreiheit_blau.svg" alt="{{#str}} smart-menu-accessibility-icon, theme_boost_union_rwth {{/str}}" />
        <div>
            <h2 class="h2">{{#str}} smart-menu-accessibility, theme_boost_union_rwth {{/str}}</h2>
            <p>{{#str}} smart-menu-accessibility-block-1, theme_boost_union_rwth {{/str}}<a href="{{#str}} smart-menu-accessibility-block-link-1, theme_boost_union_rwth {{/str}}">{{#str}} smart-menu-accessibility-block-link-name-1, theme_boost_union_rwth {{/str}}</a>{{#str}} smart-menu-accessibility-block-2, theme_boost_union_rwth {{/str}}</p>
        </div>
    </div>

    <div class="boost_union_rwth_news_and_help_block">
        <img src="pix/urheberrecht_blau.png" alt="{{#str}} smart-menu-copyright-icon, theme_boost_union_rwth {{/str}}" />
        <div>
            <h2 class="h2">{{#str}} smart-menu-copyright, theme_boost_union_rwth {{/str}}</h2>
            <p>{{#str}} smart-menu-copyright-block-1, theme_boost_union_rwth {{/str}}<a href="{{#str}} smart-menu-copyright-block-link-1, theme_boost_union_rwth {{/str}}">{{#str}} smart-menu-copyright-block-link-name-1, theme_boost_union_rwth {{/str}}</a>{{#str}} smart-menu-copyright-block-2, theme_boost_union_rwth {{/str}}</p>
        </div>
    </div>

    <div class="boost_union_rwth_news_and_help_block">
        <img src="pix/anonymität_blau.png" alt="{{#str}} smart-menu-anonymity-icon, theme_boost_union_rwth {{/str}}" />
        <div>
            <h2 class="h2">{{#str}} smart-menu-anonymity, theme_boost_union_rwth {{/str}}</h2>
            <p>{{#str}} smart-menu-anonymity-block-1, theme_boost_union_rwth {{/str}}<a href="{{#str}} smart-menu-anonymity-block-link-1, theme_boost_union_rwth {{/str}}">{{#str}} smart-menu-anonymity-block-link-name-1, theme_boost_union_rwth {{/str}}</a>{{#str}} smart-menu-anonymity-block-2, theme_boost_union_rwth {{/str}}<a href="{{#str}} smart-menu-anonymity-block-link-2, theme_boost_union_rwth {{/str}}">{{#str}} smart-menu-anonymity-block-link-name-2, theme_boost_union_rwth {{/str}}</a>.</p>
        </div>
    </div>

    <div class="boost_union_rwth_news_and_help_block">
        <img src="pix/handreichungen_blau.png" alt="{{#str}} smart-menu-handouts-icon, theme_boost_union_rwth {{/str}}" />
        <div>
            <h2 class="h2">{{#str}} smart-menu-handouts, theme_boost_union_rwth {{/str}}</h2>
            <p>{{#str}} smart-menu-handouts-block-1, theme_boost_union_rwth {{/str}}<a href="{{#str}} smart-menu-handouts-block-link-1, theme_boost_union_rwth {{/str}}">{{#str}} smart-menu-handouts-block-link-name-1, theme_boost_union_rwth {{/str}}</a>{{#str}} smart-menu-handouts-block-2, theme_boost_union_rwth {{/str}}</p>
        </div>
    </div>

    <div class="boost_union_rwth_news_and_help_block">
        <img src="pix/lehrbar_blau.png" alt="{{#str}} smart-menu-lehrbar-icon, theme_boost_union_rwth {{/str}}" />
        <div>
            <h2 class="h2">{{#str}} smart-menu-lehrbar, theme_boost_union_rwth {{/str}}</h2>
            <p>{{#str}} smart-menu-lehrbar-block-1, theme_boost_union_rwth {{/str}}<a href="{{#str}} smart-menu-lehrbar-block-link-1, theme_boost_union_rwth {{/str}}">{{#str}} smart-menu-lehrbar-block-link-name-1, theme_boost_union_rwth {{/str}}</a>{{#str}} smart-menu-lehrbar-block-2, theme_boost_union_rwth {{/str}}</p>
        </div>
    </div>

    <div class="boost_union_rwth_news_and_help_block">
        <img src="pix/studierbar_blau.png" alt="{{#str}} smart-menu-studierbar-icon, theme_boost_union_rwth {{/str}}" />
        <div>
            <h2 class="h2">{{#str}} smart-menu-studierbar, theme_boost_union_rwth {{/str}}</h2>
            <p>{{#str}} smart-menu-studierbar-block-1, theme_boost_union_rwth {{/str}}<a href="{{#str}} smart-menu-studierbar-block-link-1, theme_boost_union_rwth {{/str}}">{{#str}} smart-menu-studierbar-block-link-name-1, theme_boost_union_rwth {{/str}}</a>{{#str}} smart-menu-studierbar-block-2, theme_boost_union_rwth {{/str}}</p>
        </div>
    </div>
</div>
