{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost_union/course-hint-hidden

    Boost Union template for outputting the hidden course hint.

    Context variables required for this template:
    * courseid - The course ID
    * hintcoursehiddentext - The info text shown on hidden courses,
    * showcoursesettingslink - The fact if a link to the course settings should be shown or not

    Example context (json):
    {
        "courseid": "123",
        "hintcoursehiddentext": "This course is currently <strong>hidden</strong>. Only enrolled teachers can access this course when hidden.",
        "showcoursesettingslink": true
    }
}}
<div class="course-hint-hidden alert alert-warning">
    <div class="media">
        <div class="me-3 icon-size-5"><i class="fa fa-exclamation-circle fa-3x"></i></div>
        <div class="media-body align-self-center">
            {{{hintcoursehiddentext}}}
            {{#showcoursesettingslink}}
                <br>{{#str}} showhintcoursehiddensettingslink, theme_boost_union, { "url": "{{config.wwwroot}}/local/rwth_settings_adjustment/admin.php?id={{courseid}}" } {{/str}}
            {{/showcoursesettingslink}}
        </div>
    </div>
</div>
