<div id="footnote" class="py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="card-body p-3">
                    <h5 class="card-title d-inline">{{#str}} footer-rwth-service, theme_boost_union_rwth {{/str}}</h5>
                    <div class="block-controls float-right header">&nbsp;</div>
                    <div class="card-text content mt-3">
                        <a class="list-group-item list-group-item-action link-list"
                            href="{{#str}} footer-rwth-service:moodle-help:anchor, theme_boost_union_rwth {{/str}}"
                            target="_blank"
                            rel="noreferrer noopener">
                            <img src="{{#str}} footer-rwth-service:arrow:image, theme_boost_union_rwth {{/str}}"
                                    alt=""/>
                            {{#str}} footer-rwth-service:moodle-help, theme_boost_union_rwth {{/str}}
                        </a>
                        <a class="list-group-item list-group-item-action link-list"
                            href="{{#str}} footer-rwth-service:media-technology:anchor, theme_boost_union_rwth {{/str}}"
                            target="_blank"
                            rel="noreferrer noopener">
                            <img src="{{#str}} footer-rwth-service:arrow:image, theme_boost_union_rwth {{/str}}"
                                    alt=""/>
                            {{#str}} footer-rwth-service:media-technology, theme_boost_union_rwth {{/str}}
                        </a>
                        <a class="list-group-item list-group-item-action link-list"
                            style="display: block;"
                            href="{{#str}} footer-rwth-service:disclaimer:anchor, theme_boost_union_rwth {{/str}}">
                            <img src="{{#str}} footer-rwth-service:arrow:image, theme_boost_union_rwth {{/str}}" 
                                    alt="" 
                                    role="presentation">
                            {{#str}} footer-rwth-service:disclaimer, theme_boost_union_rwth {{/str}}
                        </a>
                        <a class="list-group-item list-group-item-action link-list"
                            style="display: block;"
                            href="{{#str}} footer-rwth-service:site-credits:anchor, theme_boost_union_rwth {{/str}}">
                            <img src="{{#str}} footer-rwth-service:arrow:image, theme_boost_union_rwth {{/str}}" 
                                    alt="" 
                                    role="presentation">
                            {{#str}} footer-rwth-service:site-credits, theme_boost_union_rwth {{/str}}
                        </a>                
                        <div class="footer">&nbsp;</div>
                    </div>
                </div>
                <div class="card-body p-3">
                    <h5 class="card-title d-inline">{{#str}} footer-contact, theme_boost_union_rwth {{/str}}</h5>
                    <div class="block-controls float-right header">&nbsp;</div>
                    <div class="card-text content mt-3">
                        <div class="no-overflow">
                            <p>
                                <img src="{{#str}} footer-contact:mail:image, theme_boost_union_rwth {{/str}}"
                                        alt=""/>
                                        &nbsp;
                                        <a href="{{#str}} footer-contact:mail:anchor, theme_boost_union_rwth {{/str}}">
                                        {{#str}} footer-contact:mail, theme_boost_union_rwth {{/str}}
                                        </a>
                            </p>
                            <p>
                                <img src="{{#str}} footer-contact:phone:image, theme_boost_union_rwth {{/str}}"
                                        alt=""/>
                                        &nbsp; 
                                        {{#str}} footer-contact:phone, theme_boost_union_rwth {{/str}}
                            </p>
                            <p>
                                <img src="{{#str}} footer-contact:fax:image, theme_boost_union_rwth {{/str}}"
                                        alt=""/>
                                        &nbsp; 
                                        {{#str}} footer-contact:fax, theme_boost_union_rwth {{/str}}
                            </p>
                        </div>
                        <div class="footer">&nbsp;</div>
                    </div>
                </div>
                <div class="card-body p-3">
                    <h5 class="card-title d-inline">{{#str}} footer-other-rwth-services, theme_boost_union_rwth {{/str}}</h5>
                    <div class="block-controls float-right header">&nbsp;</div>
                    <div class="card-text content mt-3">
                        <div class="no-overflow">
                            <p>
                                <img style="margin-right: 0.75rem"
                                        src="{{#str}} footer-other-rwth-services:rwthonline:image, theme_boost_union_rwth {{/str}}"
                                        alt="RWTHonline Logo"/>
                                <a href="{{#str}} footer-other-rwth-services:rwthonline:anchor, theme_boost_union_rwth {{/str}}"
                                    target="_blank"
                                    rel="noreferrer noopener">
                                    {{#str}} footer-other-rwth-services:rwthonline, theme_boost_union_rwth {{/str}}
                                </a>
                            </p>
                            <p>
                            <img style="margin-right: 0.75rem"
                                    src="{{#str}} footer-other-rwth-services:syncmyl2p:image, theme_boost_union_rwth {{/str}}"
                                    alt="Sync-my-L2P Logo"/>
                                <a href="{{#str}} footer-other-rwth-services:syncmyl2p:anchor, theme_boost_union_rwth {{/str}}"
                                    target="_blank"
                                    rel="noreferrer noopener">
                                    {{#str}} footer-other-rwth-services:syncmyl2p, theme_boost_union_rwth {{/str}}
                                </a>
                            </p>
                        </div>
                        <div class="footer">&nbsp;</div>
                    </div>
                </div>
                <div class="card-body p-3">
                    <h5 class="card-title d-inline">{{#str}} footer-memberships, theme_boost_union_rwth {{/str}}</h5>
                    <div class="block-controls float-right header">&nbsp;</div>
                    <div class="card-text content mt-3">
                        <div class="no-overflow">
                            <img src="{{#str}} footer-memberships:image, theme_boost_union_rwth {{/str}}"
                                    alt="MUA Membership"
                                    width="138"
                                    height="138"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

