{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template theme_boost_union/login

Boost Union Login page template

Example context (json):
{
"output": {
"doctype": "
<!DOCTYPE html>",
"page_title": "Login page",
"favicon": "favicon.ico",
"main_content": "<h1>Headers keep HTML validators happy</h1>"
}
}
}}
{{!
This template is based on theme_boost/login

Modifications compared to this template:
* Include theme_boost_union/footnote template
* Added the possibility to show info banners.
* Added the login background image text.
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
    {{> core/local/toast/wrapper}}

    <div id="page-wrapper">

        {{{ output.standard_top_of_body_html }}}
        {{> theme_boost_union/theme_boost/navbar }}

        <div id="page" class="drawers container-fluid pt-3">
	    <div id="topofscroll" class="">
            <div id="page-content" class="row">
                <div id="region-main-box" class="col-12">
                    <section id="region-main" class="col-12 h-100" aria-label="{{#str}}content{{/str}}">
                        <div class="login-v2-container">
                            <div class="banner row">
                                <img class="banner-image">
                                <div class="copyright-notice-wrapper">
                                    <div class="copyright-notice small d-none d-md-inline text-light">
                                        <p>Martin Braun</p>
                                    </div>
                                </div>
                            </div>
                            {{> theme_boost_union/infobanners }}
                            <div class="row row-cols-1 row-cols-md-2 card-row">
                                <div class="login-card-container">
                                    <div class="login-card">
                                        <h2 class="info-title">{{#str}} welcome-title:info, theme_boost_union_rwth
                                            {{/str}}</h2>

                                        <span class="info">{{#str}} welcome-text:info, theme_boost_union_rwth
                                            {{/str}}</span>

                                        <a class="info-link"
                                            href="{{#str}} welcome-url:help-faq:anchor, theme_boost_union_rwth {{/str}}" target="_blank">
                                            {{#str}} welcome-url:help-faq:text, theme_boost_union_rwth {{/str}}</a>
                                        <a class="info-link"
                                            href="{{#str}} welcome-url:training:anchor, theme_boost_union_rwth {{/str}}" target="_blank">
                                            {{#str}} welcome-url:training:text, theme_boost_union_rwth {{/str}}</a>
                                    </div>
                                </div>
                                <div class="login-card-container">
                                    <div class="login-card">
                                        <div class="login-option">
                                            <a href="auth/shibboleth/index.php" class="btn btn-primary btn-block">
                                                {{#str}} welcome-btn:sso-login, theme_boost_union_rwth {{/str}}</a>

                                            <span class="info">{{#str}} welcome-text:sso-login, theme_boost_union_rwth
                                                {{/str}} <a
                                                    href="{{#str}} welcome-url:sso-login-info:anchor, theme_boost_union_rwth {{/str}}" target="_blank">
                                                    {{#str}} welcome-url:sso-login-info:text, theme_boost_union_rwth
                                                    {{/str}}</a></span>
                                        </div>
                                        <div class="login-option">
                                            <a href="theme/boost_union_rwth/login.php?redirect=0" class="btn btn-dark btn-block">{{#str}}
                                                welcome-btn:local-login, theme_boost_union_rwth {{/str}}</a>

                                            <span class="info">{{#str}} welcome-text:local-login, theme_boost_union_rwth
                                                {{/str}} <a
                                                    href="{{#str}} welcome-url:local-login-info:anchor, theme_boost_union_rwth {{/str}}" target="_blank">
                                                    {{#str}} welcome-url:local-login-info:text,
                                                    theme_boost_union_rwth {{/str}}</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{{ output.main_content }}}
                            <div class="row">
                                <div class="maintenance-card">
                                    <h3>{{#str}} welcome-title:maintenance, theme_boost_union_rwth {{/str}}</h3>

                                    <span class="info">{{#str}} welcome-text:maintenance, theme_boost_union_rwth
                                        {{/str}}</span>
                                    <span class="info">{{#str}} welcome-text:maintenance-portal, theme_boost_union_rwth
                                        {{/str}} <a
                                            href="{{#str}} welcome-url:maintenance-portal:anchor, theme_boost_union_rwth {{/str}}" target="_blank">{{#str}}
                                            welcome-url:maintenance-portal:text, theme_boost_union_rwth
                                            {{/str}}</a></span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
	    </div>
	        {{> theme_boost/footer }}
            {{> theme_boost_union/footnote }}   
        </div>
    </div>

</body>

</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'{{#regions.offcanvas.hasblocks}},'theme_boost_union/offcanvas'{{/regions.offcanvas.hasblocks}}{{#includesmartmenu}}, 'theme_boost_union/smartmenu'{{/includesmartmenu}}], function(Loader, Drawer{{#regions.offcanvas.hasblocks}},OffCanvas{{/regions.offcanvas.hasblocks}}{{#includesmartmenu}}, SmartMenu{{/includesmartmenu}}) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
{{#regions.offcanvas.hasblocks}}OffCanvas.init();{{/regions.offcanvas.hasblocks}}
{{#includesmartmenu}}SmartMenu.init();{{/includesmartmenu}}
});
{{/js}}
